# =========================
# Environment & Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & Temporary Files
# =========================
*.log
*.tmp

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Python Build Files
# =========================
build/
dist/
*.egg-info/